KokkosCore_config.h
KokkosCore_config.tmp
Kokkos_CPUDiscovery.o
Kokkos_Core.o
Kokkos_CudaSpace.o
Kokkos_Cuda_Impl.o
Kokkos_Cuda_Task.o
Kokkos_Error.o
Kokkos_ExecPolicy.o
Kokkos_HostSpace.o
Kokkos_HostThreadTeam.o
Kokkos_Profiling_Interface.o
Kokkos_Serial.o
Kokkos_Serial_Task.o
Kokkos_SharedAlloc.o
Kokkos_UnorderedMap_impl.o
Kokkos_hwloc.o
Kokkos_spinwait.o
core.157991
libkokkos.a
main.o
vec_add.cuda
*.swp
*out
